h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(204, 225, 225);
}

label{
    color: aliceblue;
}
.form-control{
    background-color: rgb(43, 175, 175);
}

.col-md-6 bg-success rounded-3{
    height: 80em;
    width: auto;
}

.text-center{
    size: 80px;
}
