<!-- <div class="container">
   
    <form class="rounded rounded-3">
        <h3 class="bi bi-person ">{{title}}</h3>
        <dl>
            <dt>user name</dt>
            <dd><input class="form-control" type="text"></dd>
            <dt>Password</dt>
            <dd><input class="form-control" type="password"></dd>
        </dl>
        <button class="btn btn-primary w-100">Login</button>
    </form>

</div> -->

<body>


    <div class="container-fluid">

        <h2>{{title}}</h2>
        <div class="bg-dark p-4 text-white">
            <p class="text-center">Ready to watch? Enter your email to create or restart your membership.</p>
            <div class="input-group input-group-lg">
                <input type="email" class="form-control" placeholder="Enter your email">
                <button class="btn btn-danger">
                    Get started <span class="bi bi-chevron-right"></span></button>
            </div>
        </div>
    </div>
    
</body>