<div class="btn-group-vertical">
    <button name="electronics" (click)="ButtonClick($event)" class="btn btn-danger w-100">Electronics [{{ElectronicsCount}}]</button>
    <button name="jewelery" (click)="ButtonClick($event)" class="btn btn-danger w-100">Jewlery [{{JweleryCount}}]</button>
    <button name="men's clothing" (click)="ButtonClick($event)" class="btn btn-danger w-100">Mens's Clothing [{{MensCount}}]</button>
    <button name="women's clothing" (click)="ButtonClick($event)" class="btn btn-danger w-100">Women's Clothing [{{WomensCount}}]</button>
</div>